<ul class="user-cards">
    <li class="ui-card" ng-repeat="subscriber in vm.subscriptions | queryFilter:vm.candidateFilter">
        <div class="ui-card-inner">
            <div class="card-image">
              <!--<div class="card-image__avatar" style="background-image: url(&quot;{{vm.getUserImageUrl(subscriber.candidate)}}&quot;);""></div>-->
                <a ui-sref="app.userProfile({id: subscriber.candidate._id})" class="check-profile-link">
                    <img ng-src="{{vm.getUserImageUrl(subscriber.candidate)}}">
                </a>
                <a href="#" class="setup-interview" ng-if="!subscriber.interview" ng-click="vm.openInterviewModal($event, subscriber)">Setup</a>
                <a href="#" class="setup-interview" ng-if="subscriber.interview" ng-click="vm.cancelInterview(subscriber.interview._id)">Cancel</a>
                <div ng-if="subscriber.interview" class="card-overlay">
                  <div class="btns-wrap">
                    <h1 class="interview-appointed-time">{{subscriber.interview.date | moment: 'h:mm a'}}</h1>
                    <h1 class="interview-appointed-date">{{subscriber.interview.date | moment: 'DD.MM.YYYY'}}</h1>
                  </div>
                </div>
            </div>
            <div class="card-content">
                <h1><a ui-sref="app.userProfile({id: subscriber.candidate._id})">{{subscriber.candidate.name}} {{subscriber.candidate.surname}}</a></h1>
                <div class="card-content__skills">
                  <span ng-repeat="skill in subscriber.candidate.skills | limitTo:4">{{skill.text}}</span>
                </div>
            </div>
            <div class="test-result">
                <span class="card-footer"><i class="i-card fa fa-clock-o" aria-hidden="true"></i><span class="test-score">{{subscriber.createdAt | date:'dd.MM.yyyy'}}</span></span>
                <span class="interview-isAssigned-indicator interview-isAssigned-indicator--notAssigned" ng-class="{'interview-isAssigned-indicator--assidged': subscriber.interview}"></span>
            </div>
        </div>
    </li>
</ul>
