<ul class="user-cards-list">
    <li class="user-card-item" ng-repeat="subscriber in vm.subscriptions">
        <div class="u-main-info">
            <a ui-sref="app.userProfile({id: subscriber.candidate._id})" class="u-main-info-link">
                <img ng-src="{{vm.getUserImageUrl(subscriber.candidate)}}" alt="candidate" class="user-card-item__photo">
                <h1 class="user-card-item__name">{{subscriber.candidate.name}} {{subscriber.candidate.surname}}</h1>
            </a>
            <div class="u-main-info-pos">
              <div ng-if="subscriber.interview">
                <span class="uc-interview-date">{{subscriber.interview.date | moment: 'h:mm a'}} - {{subscriber.interview.date | moment: 'DD.MM.YYYY'}}</span>
              </div>
            </div>
        </div>
        <div class="u-second-info">
            <span>
              <a href="#" ng-if="!subscriber.interview" ng-click="vm.openInterviewModal(subscriber)">
                <md-tooltip md-autohide>Setup interview</md-tooltip>
                <i class="i-card fa fa-cog"></i>
              </a>
              <a href="#" ng-if="subscriber.interview" ng-click="vm.cancelInterview(subscriber.interview._id)">
                <md-tooltip md-autohide>Cancel interview</md-tooltip>
                <i class="i-card fa fa-times"></i>
              </a>
            </span>
            <span class="card-list__ico-wrapper">
                <i class="fa i-card fa-clock-o"></i>
                <span class="card-list__test-score">{{subscriber.createdAt | date:'dd.MM.yyyy'}}</span>
            </span>
        </div>
    </li>
</ul>
