<div class="company-card">
  <div class="company-card__image">
    <img ng-src="{{vm.getImageUrl(vm.company)}}" alt="company photo">
  </div>
  <div class="company-card__body">
    <div ng-if="vm.settings.withEditButton" class="v-edit">
      <i class="sidebar-ico fa fa-pencil" ui-sref="app.editCompany({id: vm.company._id})"></i>
    </div>
    <a ui-sref="app.companyProfile({ id: vm.company._id })" class="company-card__header">{{vm.company.name}}</a>
    <div class="company-card__meta">
      <a href="#">{{vm.company.creation_date | moment: 'DD.MM.YYYY'}}</a>
      <a href="#">{{vm.company.category}}</a>
    </div>
    <div class="company-card__description">{{vm.company.short_description}}</div>
    <div class="company-card__extra">
      <div class="company-more-btn btn-info" ui-sref="app.companyProfile({id: vm.company._id})">More</div>
      <div class="company-owner">
        <a ui-sref="app.userProfile({id: vm.company.owner._id})">
          <img ng-src="{{vm.getUserImageUrl(vm.company.owner)}}" alt="">
          <span>{{vm.company.owner.username}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
