<div class="u-p-bg">
  <div class="u-p-bg-content">
    <div class="u-p-bg-content__img">
      <img ng-src="{{vm.getImageUrl()}}" alt="user photo">
    </div>
    <div class="u-p-bg-content__info">
      <div class="title">
        <h1 class="u-name">{{vm.user.name}} {{vm.user.surname}}</h1>
        <p class="u-country">{{vm.user.country}}</p>
      </div>
    </div>
    <div class="u-skills">
      <ul class="vacancies">
        <li ng-repeat="skill in vm.user.skills" class="vacancies__item"><span class="vacancies-label label-success">{{skill.text}}</span></li>
      </ul>
    </div>
    <div class="social">
      <a href="{{vm.user.social.twitter}}">
        <i class="sidebar-ico fa fa-twitter"></i>
        <md-tooltip md-autohide>{{vm.user.name}} on twitter</md-tooltip>
      </a>
      <a href="{{vm.user.social.facebook}}">
        <i class="sidebar-ico fa fa-facebook-official"></i>
        <md-tooltip md-autohide>{{vm.user.name}} on facebook</md-tooltip>
      </a>
      <a href="{{vm.user.social.github}}">
        <i class="sidebar-ico fa fa-github"></i>
        <md-tooltip md-autohide>{{vm.user.name}} on github</md-tooltip>
      </a>
      <a href="">
        <i class="sidebar-ico fa fa-dribbble"></i>
        <md-tooltip md-autohide>{{vm.user.name}} on dribbble</md-tooltip>
      </a>
      <a href="{{vm.user.social.linkedin}}">
        <i class="sidebar-ico fa fa-linkedin"></i>
        <md-tooltip md-autohide>{{vm.user.name}} on linkedIn</md-tooltip>
      </a>
    </div>
  </div>
</div>
<div class="u-p-body">

  <div class="u-p-body-sect">
    <h2 class="u-p-body-sect__head">General</h2>
    <div class="u-bs-row">
      <div class="u-bs-row__inner">
        <div class="u-general-col">
          <i class="fa fa-phone"></i>
          <span>{{vm.user.phone}}</span>
        </div>
        <div class="u-general-col">
          <i class="fa fa-calendar-check-o"></i>
          <span>{{vm.user.dob | moment: 'DD.MM.YYYY'}} ({{vm.user.age}} y.o.)</span>
        </div>
        <div class="u-general-col">
          <i class="fa fa-envelope-o"></i>
          <span>{{vm.user.email}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="u-p-body-sect">
    <h2 class="u-p-body-sect__head">About</h2>
    <p class="u-p-body-sect__text-about">{{vm.user.about}}</p>
  </div>

  <div class="u-p-body-sect">
    <h2 class="u-p-body-sect__head">Work experience</h2>
    <ul class="timeline">
      <li class="timeline__item" ng-repeat='exp in vm.user.experiences'>
        <div class="date">
          <h3>{{exp.organization}}</h3>
          <span>{{exp.startPeriod}} - {{exp.endPeriod}}</span>
        </div>
        <div class="ico"></div>
        <div class="info">
          <h2>{{exp.position}}</h2>
          <p>{{exp.about}}</p>
        </div>
      </li>
    </ul>
  </div>

</div>
