<div class="full-col">
  <div class="form-content">
    <div class="s-content-head">
      <h2 class="s-content-head__header">Edit main vacancy info</h2>
    </div>
    <form class="settings-form" method="post" ng-submit="vm.updateVacancy()" name="createVacancy">
      <div class="settings-form__row">
        <div class="form-fields">

          <div class="grid">

            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.title.$error" ng-if="createVacancy.title.$dirty">
                  <div ng-message="required">You did not enter a vacancy title</div>
                  <div ng-message="minlength">Your vacancy title is too short</div>
                  <div ng-message="maxlength">Your vacancy title is too long</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
                <input class="inputAdd-field" ng-model="vm.vacancy.title" type="text" placeholder="Title" name="title" ng-minlength="5" ng-maxlength="30" required>
              </div>
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.location.$error" ng-if="createVacancy.location.$dirty">
                  <div ng-message="required">You did not enter a location</div>
                  <div ng-message="minlength">Your location is too short</div>
                  <div ng-message="maxlength">Your location is too long</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico icon-location"></i></span>
                <input class="inputAdd-field" ng-model="vm.vacancy.location" type="text" placeholder="Location" name="location" ng-minlength="5" ng-maxlength="20" required>
              </div>
            </div>

            <div class="grid-cell">
              <div class="inputAdd">
                <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
                <ui-select ng-model="vm.vacancy.type" theme="selectize" ng-disabled="disabled">
                  <ui-select-match placeholder="Type">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="vacancy.name as vacancy in vm.vacancyTypes | filter: $select.search">
                    <span ng-bind-html="vacancy.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="inputAdd">
                <span class="inputAdd-item"><i class="sidebar-ico icon-pencil"></i></span>
                <ui-select ng-model="vm.vacancy.position" theme="selectize" ng-disabled="disabled">
                  <ui-select-match placeholder="Position">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="position.name as position in vm.positions | filter: $select.search">
                    <span ng-bind-html="position.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <tags-input ng-model="vm.vacancy.required_skills"></tags-input>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.description.$error" ng-if="createVacancy.description.$dirty">
                  <div ng-message="required">You did not enter a description</div>
                  <div ng-message="minlength">Description field is too short</div>
                </div>
                <textarea ng-model="vm.vacancy.description" class="inputAdd-field" name="description" placeholder="Description" id="cp-about" ng-minlength="50" required></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="btn-col">
        <button ng-disabled="createVacancy.$invalid" type="submit" class="form-row-group__submit-btn btn-info">Update</button>
        <a ng-click="vm.openModal()" class="btn btn-sm btn-danger">Delete</a>
      </div>

    </form>
  </div>
</div>
