<div class="v-card">
  <div class="v-card-inner">
    <div class="card-content">
      <div class="card-content-head">
        <a ng-if="!vm.settings.withCandidates" ui-sref="app.vacanciesProfile({id: vm.vacancy._id})" class="card-content__header">{{vm.vacancy.title}}</a>
        <a ng-if="vm.settings.withCandidates" ui-sref="app.candidates({id: vm.vacancy._id})" class="card-content__header">{{vm.vacancy.title}}</a>
        <div ng-if="vm.settings.withEditButton" class="v-edit">
          <i ui-sref="app.vacanciesEdit({id: vm.vacancy._id})" class="sidebar-ico fa fa-pencil"></i>
        </div>
      </div>
      <div class="card-content__meta">
        <span class="comp">{{vm.vacancy.company_id.name}} at {{vm.vacancy.location}}</span>
        <span class="time">{{vm.vacancy.creation_date | moment: 'DD.MM.YYYY'}}</span>
      </div>
      <ul class="n-skills">
        <li class="n-skills__item" ng-repeat="skill in vm.vacancy.required_skills"><span>{{skill.text}}</span></li>
      </ul>
      <div class="content__description"></div>
    </div>
    <div class="extra">
      <div ng-class="{Junior: 'junior', Middle: 'middle', Senior: 'senior'}[vm.vacancy.position]" class="pos">{{vm.vacancy.position}}</div>
      <div class="owner">
        <img class="ui avatar image" ng-src="{{vm.getImage(vm.vacancy.type)}}">
        {{vacancy.type}}
      </div>
    </div>

    <div ng-if="vm.settings.withFollowButton">
      <div ng-show="!vm.isSubscribed(vm.vacancy)">
        <a href="#" class="follow" ng-click="vm.subscribe(vm.vacancy)">
          <span>Follow</span>
        </a>
      </div>
      <div ng-show="vm.isSubscribed(vm.vacancy)">
        <a href="#" class="follow" ng-click="vm.unsubscribe(vm.vacancy)">
          <span>Unsubscribe</span>
        </a>
      </div>
    </div>

  </div>
</div>
