<div class="full-col">
  <div class="form-content">
    <div class="s-content-head">
      <h2 class="s-content-head__header">Fill vacancy profile</h2>
    </div>
    <form class="settings-form" name="createVacancy" ng-submit="vm.registerVacancy(createVacancy.$valid)" novalidate>
      <div class="settings-form__row">
        <div class="form-fields">

          <div class="grid">

            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.title.$error" ng-if="createVacancy.title.$dirty || createVacancy.$submitted">
                  <div ng-message="required">You did not enter a vacancy title</div>
                  <div ng-message="minlength">Your vacancy title is too short</div>
                  <div ng-message="maxlength">Your vacancy title is too long</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-newspaper-o" aria-hidden="true"></i></span>
                <input class="inputAdd-field" ng-model="vm.title" type="text" placeholder="Title" name="title" ng-minlength="5" ng-maxlength="30" required>
              </div>
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.location.$error" ng-if="createVacancy.location.$dirty || createVacancy.$submitted">
                  <div ng-message="required">You did not enter a location</div>
                  <div ng-message="minlength">Your location is too short</div>
                  <div ng-message="maxlength">Your location is too long</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-globe" aria-hidden="true"></i></span>
                <input class="inputAdd-field" ng-model="vm.location" type="text" placeholder="Location" name="location" ng-minlength="5" ng-maxlength="20" required>
              </div>
            </div>

            <div class="grid-cell">
              <div class="inputAdd">
                <div ng-show="createVacancy.$submitted || createVacancy.vacancyType.$touched" class="v-form-error">
                  <div ng-show="createVacancy.vacancyType.$error.required">You did not enter a vacancy type</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-share-alt" aria-hidden="true"></i></span>
                <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.type"
                    md-search-text="vm.searchTypeText"
                    md-items="item in vm.queryTypeSearch(vm.searchTypeText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Type"
                    required>
                  <md-item-template>
                    <span md-highlight-text="vm.searchTypeText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{vm.searchTypeText}}" were found.
                  </md-not-found>
                  <div ng-messages="fillForm.autocomplete.$error">
                    <div ng-message="required">This field is required</div>
                  </div>
                </md-autocomplete>
              </div>
              <div class="inputAdd">
                <div ng-show="createVacancy.$submitted || createVacancy.vacancyPosition.$touched" class="v-form-error">
                  <div ng-show="createVacancy.vacancyPosition.$error.required">You did not enter a vacancy position</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-book" aria-hidden="true"></i></span>
                <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.position"
                    md-search-text="vm.searchPositionText"
                    md-items="item in vm.queryPositionSearch(vm.searchPositionText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Type"
                    required>
                  <md-item-template>
                    <span md-highlight-text="vm.searchPositionText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{vm.searchPositionText}}" were found.
                  </md-not-found>
                  <div ng-messages="fillForm.autocomplete.$error">
                    <div ng-message="required">This field is required</div>
                  </div>
                </md-autocomplete>
              </div>
            </div>

          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div ng-show="createVacancy.$submitted || createVacancy.vacancyCompany.$touched" class="v-form-error">
                  <div ng-show="createVacancy.vacancyCompany.$error.required">You did not choose company</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-building-o" aria-hidden="true"></i></span>
                <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.company"
                    md-search-text="vm.searchCompaniesText"
                    md-items="item in vm.queryCompanySearch(vm.searchCompaniesText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Type"
                    required>
                  <md-item-template>
                    <span md-highlight-text="vm.searchCompaniesText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{vm.searchCompaniesText}}" were found.
                  </md-not-found>
                  <div ng-messages="fillForm.autocomplete.$error">
                    <div ng-message="required">This field is required</div>
                  </div>
                </md-autocomplete>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.tags.$error" ng-if="createVacancy.tags.$touched || createVacancy.$submitted">
                  <div ng-message="required">You did not enter at least one tag</div>
                </div>
                <md-chips ng-model="vm.required_skills" 
                          readonly="vm.tagsIsReadOnly" 
                          md-transform-chip="vm.newTag($chip)"
                          md-separator-keys="vm.tagsSeparatorKeys"
                          placeholder="Add at least one skill tag"
                          secondary-placeholder="Add required skills">
                  <md-chip-template>
                    <span>
                      <strong>{{$chip.text}}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createVacancy.description.$error" ng-if="createVacancy.description.$dirty || createVacancy.$submitted">
                  <div ng-message="required">You did not enter a description</div>
                  <div ng-message="minlength">Description field is too short</div>
                </div>
                <textarea ng-model="vm.description" class="inputAdd-field" name="description" placeholder="Description" id="cp-about" ng-minlength="50" required></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="btn-col">
        <button type="submit" class="btn btn-info">Create</button>
      </div>

    </form>
  </div>
</div>
