//## Typography
$font-family: 'Open Sans', sans-serif;
$font-size: 1.6rem;

//## Colors
$body-color: #f2f2f2;
$base-font-color: #000;
$primary-font-color: lighten($base-font-color, 13%);
$secondary-font-color: #999;

//## Media queries breakpoints
