<div class="form-container">
  <form class="form" name="loginForm" autocomplete="off" ng-submit="vm.login()">
    <div class="auth-form-body">
      <div class="form-group">
        <input ng-model="vm.user.username" name="username" type="text" placeholder="USERNAME" class="input-block login-field" required>
      </div>
      <div class="form-group">
        <input ng-model="vm.user.password" name="password" type="password" placeholder="PASSWORD" class="input-block password-field" required>
      </div>
      <div class="help-btns-wrapper"><a href="#" class="forgot-pass">Forgot password?</a>
        <div class="social-btns"><a href="#"><i class="facebook-ico"></i></a><a href="#"><i class="google-ico"></i></a></div>
      </div>
      <button type="submit" ng-disabled="loginForm.$invalid" class="login-button">Sign in</button>
      <p class="dha">Don't have an account? - <a ui-sref="intro.signup">Sign up</a></p>
    </div>
  </form>
</div>
