<div class="full-col">
  <header class="content-header">
      <h1 class="content-header__name c-header">Appoint interview date</h1>
      <div class="grid-controls">
          <span class="grid-controls__label">View</span>
          <i class="fa fa-list-ul" ui-sref-active="active" ui-sref="app.candidates.list"></i>
          <i class="fa fa-th" ui-sref-active="active" ui-sref="app.candidates.grid"></i>
      </div>
  </header>
  <div class="vacancies-container">
      <ul class="vacancies">
          <li class="vacancies__item vacancies-tag"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp; Candidates:</li>
          <li class="vacancies__item" ng-click="vm.checkAll()"><span class="vacancies-label label-primary">All</span></li>
          <li class="vacancies__item" ng-click="vm.checkAssigned()"><span class="vacancies-label label-success">Assigned</span></li>
          <li class="vacancies__item" ng-click="vm.checkNotAssigned()"><span class="vacancies-label label-danger">Not assigned</span></li>
      </ul>
  </div>
  <div ui-view></div>
</div>
