<div class="full-col">
  <div class="form-content">
    <div class="s-content-head">
      <h2 class="s-content-head__header">Fill company profile fields</h2>
    </div>
    <form class="settings-form" name="createCompany" ng-submit="vm.registerCompany(createCompany.$valid)" novalidate>

      <div class="settings-form__row">

        <div class="form-fields">

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createCompany.companyName.$error" ng-if="createCompany.companyName.$dirty || createCompany.$submitted">
                  <div ng-message="required">You did not enter a company name</div>
                  <div ng-message="minlength">Your company name is too short</div>
                  <div ng-message="maxlength">Your company name is too long</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-building-o"></i></span>
                <input ng-model="vm.name" name="companyName" type="text" id="up-name" class="inputAdd-field" placeholder="Name" ng-minlength="5" ng-maxlength="20" required>
              </div>
              <div class="inputAdd">
                <div ng-show="createCompany.$submitted || createCompany.location.$touched" class="v-form-error">
                  <div ng-show="createCompany.location.$error.required">You did not enter a location</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-globe"></i></span>
                <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.location"
                    md-search-text="vm.searchCountryText"
                    md-items="item in vm.querySearchCountries(vm.searchText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Country"
                    required>
                  <md-item-template>
                    <span md-highlight-text="vm.searchCountryText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{vm.searchCountryText}}" were found.
                  </md-not-found>
                  <div ng-messages="fillForm.autocomplete.$error">
                    <div ng-message="required">This field is required</div>
                  </div>
                </md-autocomplete>
              </div>
            </div>
            <div class="grid-cell">
              <div class="inputAdd">
                <div ng-show="createCompany.$submitted || createCompany.category.$touched" class="v-form-error">
                  <div ng-show="createCompany.category.$error.required">You did not enter a category</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-qrcode"></i></span>
                <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.category"
                    md-search-text="vm.searchCategoryText"
                    md-items="item in vm.querySearchCategories(vm.searchText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="Category"
                    required>
                  <md-item-template>
                    <span md-highlight-text="vm.searchCategoryText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{vm.searchCategoryText}}" were found.
                  </md-not-found>
                  <div ng-messages="fillForm.autocomplete.$error">
                    <div ng-message="required">This field is required</div>
                  </div>
                </md-autocomplete>
              </div>
              <div class="inputAdd">
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-calendar"></i></span>
                <!-- <input id="cp-yof" type="text" class="inputAdd-field datepicker-input" uib-datepicker-popup="{{vm.format}}" ng-model="vm.company.creation_date" is-open="vm.status.opened" max-date="vm.maxDate" datepicker-options="vm.dateOptions" ng-required="true" show-button-bar="false" show-weeks="false" /> -->
                <button type="button" class="inputAdd-item inputAdd-append-item" ng-click="vm.openDatepicker($event)"><i class="fa fa-angle-double-down"></i></button>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createCompany.companyEmail.$error" ng-if="createCompany.companyEmail.$dirty || createCompany.$submitted">
                  <div ng-message="required">You did not enter a email field</div>
                  <div ng-message="email">Your email address is invalid</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-envelope-o"></i></span>
                <input name="companyEmail" ng-model="vm.email" type="email" placeholder="Email" class="inputAdd-field" id="cp-email" required>
              </div>
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createCompany.companyPhone.$error" ng-if="createCompany.companyPhone.$dirty || createCompany.$submitted">
                  <div ng-message="required">You did not enter a phone</div>
                  <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-phone"></i></span>
                <input name="companyPhone" ng-model="vm.phone" type="text" placeholder="Phone" class="inputAdd-field" id="cp-phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
              </div>
            </div>
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createCompany.companySite.$error" ng-if="createCompany.companySite.$dirty || createCompany.$submitted">
                  <div ng-message="required">You did not enter a site url</div>
                  <div ng-message="pattern">Must be a valid url</div>
                </div>
                <span class="inputAdd-item"><i class="sidebar-ico fa fa-location-arrow"></i></span>
                <input name="companySite" ng-model="vm.site" type="text" placeholder="Company site" class="inputAdd-field" id="cp-site" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" required>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createCompany.tags.$error" ng-if="createCompany.tags.$touched || createCompany.$submitted">
                  <div ng-message="required">You did not enter at least one tag</div>
                </div>
                <!-- <tags-input name="tags" ng-model="vm.company.specializations" min-tags="1" max-tags="3" required></tags-input> -->
                <md-chips ng-model="vm.specializations" 
                          readonly="vm.tagsIsReadOnly" 
                          md-transform-chip="vm.newTag($chip)"
                          md-separator-keys="vm.tagsSeparatorKeys"
                          placeholder="Add at least one specialization tag"
                          secondary-placeholder="Add required skills">
                  <md-chip-template>
                    <span>
                      <strong>{{$chip.text}}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid-cell">
              <div class="inputAdd">
                <div class="v-form-error" ng-messages="createCompany.description.$error" ng-if="createCompany.description.$dirty || createCompany.$submitted">
                  <div ng-message="required">You did not enter a description</div>
                  <div ng-message="minlength">Description field is too short</div>
                </div>
                <textarea ng-model="vm.description" class="inputAdd-field" name="description" placeholder="About" id="cp-about" ng-minlength="50" required></textarea>
              </div>
            </div>
          </div>

        </div>

        <div class="form-photo">
          <div class="form-photo-inner">
            <img ng-src="{{vm.getImageUrl()}}" alt="avatar">
            <div class="form-photo-info">
              <p>
                You can upload an avatar here or change it.
              </p>
              <hr>
              <a href="#" class="upload-btn" ng-click="vm.openFileDialog()">
                <i class="sidebar-ico icon-camera sidebar-ico-full"></i>
                <span>Choose file ...</span>
              </a>
              <input type="file" ngf-select="vm.onFileSelected()" ng-model="vm.file" name="file" accept="image/*" ngf-max-size="1MB" name="upload" id="up-photo">
            </div>
          </div>
        </div>

      </div>

      <div class="btn-col">
        <button type="submit" class="btn btn-info">Create</button>
      </div>

    </form>
  </div>
</div>
