.iroom {
  padding: 30px;
}

.iroom__table {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
  width: 100%;
  table-layout: fixed;

  tr {
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      border-bottom: 0;
    }
  }

  td {
    @include font-size(14px);
    padding: 15px;
  }
}

.iroom-table-row {
  margin-bottom: 15px;
}

.iroom-table-row__title {
  @include font-size(14px);
  color: rgba(0, 0, 0, .35);
  margin-bottom: 10px;
}
