// variables
$landing-primary-font-color: #fff;

.wrapper {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: table;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, .7);
  height: 100vh;

  display: table-cell;
  vertical-align: middle;
}

.land-container {
  width: 300px;

  margin-left: auto;
  margin-right: auto;

  @include respond-to('small') {
    width: 400px;
  }
}

.landing-about {
  font-size: rem(1.4);
  color: $landing-primary-font-color;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  text-align: center;
}

.logo__item {
  width: 200px;
}

.landing-register-link {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-info;
}

.btn-wrap {
  margin-bottom: 20px;
  text-align: center;
}
