.vacancyBox {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  background-color: #fff;
}

.vacancyBox__header {
  background: #3AC1F1;
  padding: 20px;
  text-align: center;

  h2 {
    font-size: 2.4rem;
    font-weight: 100;
    color: #fff;
  }
}

.vacancyBox__body {
  padding: 30px;
}

.vacancyInfo-group {
  margin-top: 30px;

  &.v-skills-group {
    margin-top: 30px;
  }

  label {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }

  p {
    font-size: 1.3rem;
    color: #999;
  }
}

.vacancyInfo-secondary {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .image {
    width: 24px;
    vertical-align: middle;
  }
}

.v-si-text {
  font-size: 1.4rem;
  margin: 0 15px;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.v-p-pos {
  position: relative;
  padding-left: 1em;

  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f0ad4e;
    position: absolute;
    top: 6px;
    left: 0;
  }

  &.junior {
    &:before {
      background: #5bc0de;
    }
  }

  &.middle {
    &:before {
      background: #f0ad4e;
    }
  }

  &.senior {
    &:before {
      background: #d9534f;
    }
  }
}

.vacancyInfo-btns {
  margin-top: 30px;
  text-align: right;
}

.v-followers-group {
  margin-top: 30px;
}

.v-followers-list__item {
  display: inline-block;
  margin-right: 5px;

  img {
    vertical-align: middle;
    width: 30px;
    border-radius: 50%;
  }
}
