.c-manage-menu {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.c-manage-menu__btn {
  @extend .btn;
  @extend .btn-primary;
  padding: 0.3em 0.57em;
  margin: 10px 0;
  cursor: pointer;
}
