.deletingDialog {
  md-dialog-content {
    padding: 24px;
  }

  .modal-header {
    margin-bottom: 1rem;
  }

  .modal-title {
    color: rgba(0, 0, 0, .87);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .005em;
  }

  .modal-body {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    margin: 0.8em 0 1.6em;
  }

  .alert-warning {
    color: #796620;
  }
}
