// imports
@import '../utils/index';

// variables

$select-border-color: #e6e6e6;
.selectBox {
  min-width: 5.14em;
  cursor: pointer;
  @include font-size(14px);
  padding: 0.57em;
  border: 1px solid $select-border-color;
  border-radius: 2px;
}

md-autocomplete {
  width: 100%;
}

.md-whiteframe-1dp, 
.md-whiteframe-z1 {
  box-shadow: none;
  border: 1px solid #e8e8e8;
  border-left: 0;
  border-radius: 0 3px 3px 0;
}
