// variables
$sideblock-bg-color: #161616;

.sideblock {
  background-color: $sideblock-bg-color;
  bottom: 0;
  color: #fff;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow-y: auto;
  width: 65px;

  @include respond-to('medium') {
    width: 230px;
    display: block;
  }
}

.sideblock-header {
  background-color: lighten($sideblock-bg-color, 3%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .06);
  padding: 20px 0;
  height: 60px;
  text-align: center;

  @include respond-to('medium') {
    padding: 21px 25px;
    text-align: left;
  }
}

.sideblock-header__text {
  font-size: rem(2);
  color: #fff;
  font-weight: 400;
  display: inline-block;
  width: 28px;

  .big-logo {
    display: none;

    @include respond-to('medium') {
      display: block;
    }
  }

  .min-logo {
    display: block;

    @include respond-to('medium') {
      display: none;
    }
  }

  @include respond-to('medium') {
    width: 120px;
  }
}

.int-section {
  margin-top: 30px;
}

.int-section__header {
  font-size: rem(1.2);
  color: #fff;
  margin-bottom: 10px;
  padding: 0 25px;
  text-transform: uppercase;
  display: none;

  @include respond-to('medium') {
    display: block;
  }
}

.int-section__list {
  list-style: disc;
}

.int-section__list > li {
  position: relative;

  &.active {
    background-color: #101010;

    a {
      color: #fff;
    }

    &:before {
      content: '';
      display: block;
      box-shadow: inset 3px 0 0 #a2c093, inset 6px 0 0;
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
    }

    &:after {
      display: block;
    }
  }

  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent #f2f2f2 transparent transparent;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  a {
    font-size: rem(1.2);
    color: lighten(#161616, 50%);
    line-height: 35px;
    display: inline;
    padding: 0 22px;
    font-weight: 600;
    text-transform: uppercase;

    @include respond-to('medium') {
      display: block;
      padding: 0 25px;
    }
  }

  .sidebar-ico {
    font-size: rem(1.4);
    margin-right: 10px;

    @include respond-to('medium') {
      font-size: rem(1.5);
    }
  }
}

.copyright {
  color: #6b6b6b;
  font-size: rem(1);
}

.sidebar-item-text {
  display: none;

  @include respond-to('medium') {
    display: inline-block;
  }
}

.aside-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  width: 230px;
  background-color: #161616;
  display: none;

  @include respond-to('medium') {
    display: block;
  }
}

.aside-footer-link {
  font-size: rem(1.2);
  color: #fff;
}

.aside-footer-codeico {
  color: #ADD8E6;
}

.aside-footer-heartico {
  color: red;
}
