// Angular Material Chips Override
.md-chips {
  font-size: 1.3rem;
  padding: 0 0 0 3px;
}

.md-chips .md-chip {
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
}

.md-chips .md-chip .md-chip-remove-container {
  line-height: 8px;
}

.md-chips .md-chip .md-chip-remove {
  width: 24px;
  height: 24px;
}