.user-cards {
  @include make-row;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
}

.ui-card {
  border: none;
  margin-bottom: 2em;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;

  @media only screen and (min-width: 468px) {
    width: 50%;
  }

  @include respond-to('small') {
    width: 50%;
  }

  @include respond-to('medium') {
    width: 33.33333%;
  }

  @include respond-to('large') {
    width: 25%;
  }

  @media (min-width: 1400px) {
    width: 20%;
  }
}

.ui-card-inner {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
  display: flex;
  flex-direction: column;
}

.card-image {
  display: block;
  position: relative;
  padding: 0;
  background: rgba(0, 0, 0, .05);
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .2857rem .2857rem 0 0;
    border: none;
    transition: .3s -webkit-filter ease-out;
  }

  &:hover {

    .card-overlay {
      visibility: visible;
      transition: all .3s ease-in-out;
      opacity: 1;
    }

    img {
      filter: blur(5px) grayscale(.7);
    }
  }
}

.ui-card-inner {
  .card-content {  
    text-align: center;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    h1 {
      font-size: 1.4rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      margin: 0 0 10px;
      color: #333333;
      text-transform: uppercase;
      
      a {
        color: #333333;
      }
    }

    .meta {
      font-size: 1.2rem;
      color: rgba(0,0,0,0.70);
    }

    .indicate {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }

    .group {
      color: $secondary-font-color;
      display: inline-block;
    }

    .description {
      font-size: 1.2rem;
      margin-top: .5em;
      text-align: left;
    }
    
    .card-content__skills {
      font-size: 1.2rem;
      color: #666;
      
      span {
        &:after {
          content: ', ';
        }
        
        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}

.test-result {
  @include clearfix;
  font-size: 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.card-footer {
  flex: 1 1 auto;
}

.test-score {
  font-size: 1.1rem;
  color: #999;
  margin-left: 5px;
}

.test-text {
  float: right;
  margin-right: 5px;
}

.card-overlay {
  position: absolute;
  border-radius: .2857rem .2857rem 0 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, .6);
  text-align: center;

  .btns-wrap {
    @include center(xy);
    width: 100%;
    position: absolute;

    :last-child {
      margin-left: 10px;
    }
  }

  .card-overlay-link {
    font-size: 1.2rem;
    color: #fff;
    display: inline-block;
    padding: 6px 8px;
    border: 2px solid #fff;
    border-radius: 2px;
    width: 75px;

    &:hover {
      background-color: #fff;
      color: rgba(0, 0, 0, .87);
    }
  }

  .interview-appointed-date,
  .interview-appointed-time {
    color: #fff;
    font-weight: 100;
    cursor: default;
  }

  .interview-appointed-date {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .interview-appointed-time {
    font-size: 35px;
  }
}

.setup-interview {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 6px 10px;
  color: #333333;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 100;
}

.interview-isAssigned-indicator {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  
  &.interview-isAssigned-indicator--notAssigned {
    background: #f0ad4e;
  }

  &.interview-isAssigned-indicator--assidged {
    background: #86ad73;
  }
}