.vacancies-container {
  margin: 20px 0;
}

.vacancies__item {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.vacancies-tag {
  font-size: 1.1rem;
  margin-right: 15px;
  text-transform: uppercase;
}

.vacancies-label {
  font-size: 1.1rem;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  padding: 0 10px;
  display: block;
  line-height: 20px;
}

.label-default {
  background-color: #777;
}

.label-primary {
  background-color: #337ab7;
}

.label-success {
  background-color: #86ad73;
}

.label-info {
  background-color: #5bc0de;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #d9534f;
}
