.v-card {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;

  @include respond-to('small') {
    width: 50%;
  }

  @media only screen and (min-width: 1280px) {
    width: 33.33333%;
  }
}

.v-card-inner {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
}

.card-content {
  padding: 1em;
  font-size: 1rem;
}

.card-content__header {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  color: $primary-font-color;

  &:hover {
    text-decoration: underline;
  }
}

.card-content-head {
  position: relative;
}

.v-edit {
  position: absolute;
  right: 0;
  top: 0;

  i {
    color: #666;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}

.card-content__meta {
  font-size: .8rem;
  color: #999;
  margin-top: 5px;

  .time {
    float: right;
    font-size: .8rem;
  }
}

.n-skills {
  list-style: none;
  margin-top: 5px;
}

.n-skills__item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  span {
    background: #5cb85c;
    border-radius: 2px;
    font-size: 11px;
    padding: 0 10px;
    line-height: 18px;
    display: block;
    color: #fff;
  }
}

.extra {
  @include font-size(14px);
  padding: .50em 1em;
  border-top: 1px solid rgba(0,0,0,.05);

  .pos {
    float: left;
    position: relative;
    padding-left: 1em;
    margin-top: 5px;

    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #f0ad4e;
      position: absolute;
      top: 6px;
      left: 0;
    }

    &.junior {
      &:before {
        background: #5bc0de;
      }
    }

    &.middle {
      &:before {
        background: #f0ad4e;
      }
    }

    &.senior {
      &:before {
        background: #d9534f;
      }
    }
  }

  .owner {
    float: right;
    color: #999;

    img {
      width: 2em;
      height: 2em;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &:after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

.follow {
  @include font-size(12px);
  display: block;
  text-align: center;
  padding: .8em 1.5em;
  background: #E0E1E2;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  transition: background .2s ease, color .2s ease;

  &:hover {
    background: darken(#E0E1E2,10%);
    color: #fff;
  }
}
