<div class="full-col">
  <div class="row-box">
    <!--<a ui-sref="app.userSettings.general" ui-sref-active="active" class="btn btn-simple raised-btn--light btn-tab">General</a>
    <a ui-sref="app.userSettings.experience" ui-sref-active="active" class="btn btn-simple raised-btn--light btn-tab">Experience</a>-->
    <div class="tabs">
      <div ui-sref="app.userSettings.general" ui-sref-active="is-tab-selected" class="tab">General</div>
      <div ui-sref="app.userSettings.experience" ui-sref-active="is-tab-selected" class="tab">Experience</div>
    </div>
  </div>

  <div ui-view></div>
</div>
