<md-dialog class="deletingDialog">
  <md-dialog-content>
    <div class="modal-header">
      <h3 class="modal-title">Are you ABSOLUTELY sure?</h3>
    </div>
    <div class="modal-body">
      <div class="alert-warning">
        <p>
          Unexpected bad things will happen if you don’t read this!
        </p>
      </div>
      <p>
        This action CANNOT be undone. This will permanently delete company and all vacancy associations.
      </p>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="vm.cancel()" class="md-primary">Cancel</md-button>
    <md-button ng-click="vm.ok()" class="md-primary">OK</md-button>
  </md-dialog-actions>
</md-dialog>
