// variables
$header-bg-color: #9bd8f1;
$header-font-color: #fff;

app {
  height: 100%;
}

.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include respond-to('small') {
    width: 750px;
  }

  @include respond-to('medium') {
    width: 970px;
  }

  @include respond-to('large') {
    width: 1170px;
  }
}

.layout-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row {
  @include make-row;
}

.content {
  background-color: $body-color;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  transition: transform .2s ease-in-out;
  transform: translateX(0);

  @include respond-to('medium') {
    
  }

  &.active {
    transform: translateX(230px);

    @include respond-to('medium') {
      transform: translateX(0);
    }
  }
}

.content-inner {
  @include make-row;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.full-col {
  width: 100%;
  padding: 30px;
}

.content-header {
  @include clearfix;
  margin-bottom: 20px;
}

.content-header__name {
  font-size: 2.4rem;
  color: $primary-font-color;
  font-weight: 300;
}
