<div class="form-content">
  <div class="s-content-head">
    <h2 class="s-content-head__header">Change basic account settings.</h2>
  </div>
  <form name="fillForm" ng-submit="vm.updateProfile(fillForm.$valid)" class="settings-form" novalidate>
    <div class="settings-form__row">
      <div class="form-fields">

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.name.$error" ng-if="fillForm.name.$dirty || fillForm.$submitted">
                <div ng-message="required">You did not enter a name</div>
                <div ng-message="minlength">Your name is too short</div>
                <div ng-message="maxlength">Your name is too long</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
              <input ng-model="vm.user.name" name="name" type="text" id="up-name" class="inputAdd-field" placeholder="Name" ng-minlength="3" ng-maxlength="25" required>
            </div>
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.surname.$error" ng-if="fillForm.surname.$dirty || fillForm.$submitted">
                <div ng-message="required">You did not enter a second name</div>
                <div ng-message="minlength">Your second name is too short</div>
                <div ng-message="maxlength">Your second name is too long</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
              <input ng-model="vm.user.surname" name="surname" type="text" class="inputAdd-field" placeholder="Second name" id="up-surname" ng-minlength="3" ng-maxlength="25" required>
            </div>
          </div>
          <div class="grid-cell">
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-calendar"></i></span>
              <input id="cp-yof" type="text" class="inputAdd-field datepicker-input" uib-datepicker-popup="{{vm.format}}" ng-model="vm.user.dob" is-open="vm.status.opened" max-date="vm.maxDate" datepicker-options="vm.dateOptions" ng-required="true" show-button-bar="false" show-weeks="false" />
              <button type="button" class="inputAdd-item inputAdd-append-item" ng-click="vm.openDatepicker($event)"><i class="icon-calendar"></i></button>
            </div>
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.email.$error" ng-if="fillForm.email.$dirty">
                <div ng-message="required">You did not enter a email field</div>
                <div ng-message="email">Your email address is invalid</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-mail"></i></span>
              <input ng-model="vm.user.email" type="email" class="inputAdd-field" placeholder="Email" id="up-email" name="email" required>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div ng-show="fillForm.$submitted || fillForm.country.$touched" class="v-form-error">
                <div ng-show="fillForm.country.$error.required">You did not choose country</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-globe"></i></span>
              <ui-select ng-model="vm.user.country" theme="selectize" ng-disabled="disabled" name="country" required>
                <ui-select-match placeholder="Country">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="country.name as country in vm.countries | filter: $select.search">
                  <span ng-bind-html="country.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-globe"></i></span>
              <input type="text" class="inputAdd-field" placeholder="Time zone">
            </div>
          </div>
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.phone.$error" ng-if="fillForm.phone.$dirty || fillForm.$submitted">
                <div ng-message="required">You did not enter a phone</div>
                <div ng-message="pattern">Must be a valid 10 digit phone number</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-mobile"></i></span>
              <input name="phone" ng-model="vm.user.phone" type="text" class="inputAdd-field" placeholder="Phone" id="up-phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
            </div>
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.twitterSite.$error" ng-if="fillForm.twitterSite.$dirty || fillForm.$submitted">
                <div ng-message="pattern">Must be a valid url</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-twitter"></i></span>
              <input type="text" class="inputAdd-field" placeholder="Twitter" name="twitterSite" ng-model="vm.user.social.twitter" id="up-social-twitter" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.facebookSite.$error" ng-if="fillForm.facebookSite.$dirty || fillForm.$submitted">
                <div ng-message="pattern">Must be a valid url</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-facebook"></i></span>
              <input type="text" class="inputAdd-field" placeholder="Facebook" name="facebookSite" ng-model="vm.user.social.facebook" id="up-social-facebook" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
            </div>
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.githubSite.$error" ng-if="fillForm.githubSite.$dirty || fillForm.$submitted">
                <div ng-message="pattern">Must be a valid url</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-github-circled"></i></span>
              <input type="text" class="inputAdd-field" placeholder="GitHub" name="githubSite" ng-model="vm.user.social.github" id="up-social-github" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
            </div>
          </div>
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.linkedinSite.$error" ng-if="fillForm.linkedinSite.$dirty || fillForm.$submitted">
                <div ng-message="pattern">Must be a valid url</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-linkedin"></i></span>
              <input type="text" class="inputAdd-field" placeholder="LinkedIn" name="linkedinSite" ng-model="vm.user.social.linkedin" id="up-social-linkedin" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
            </div>
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.dribbbleSite.$error" ng-if="fillForm.dribbbleSite.$dirty || fillForm.$submitted">
                <div ng-message="pattern">Must be a valid url</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-dribbble"></i></span>
              <input type="text" class="inputAdd-field" placeholder="Dribbble" name="dribbbleSite" ng-model="vm.user.social.dribbble" id="up-social-dribbble" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.tags.$error" ng-if="fillForm.tags.$touched || fillForm.$submitted">
                <div ng-message="required">You did not enter at least one tag</div>
              </div>
              <tags-input name="tags" ng-model="vm.user.skills" add-on-paste="true" placeholder="add skill" min-tags="1" required>
                <auto-complete source="vm.loadTags($query)"></auto-complete>
              </tags-input>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.about.$error" ng-if="fillForm.about.$dirty || fillForm.$submitted">
                <div ng-message="required">You did not enter about filed</div>
                <div ng-message="minlength">About field is too short</div>
              </div>
              <textarea type="text" class="inputAdd-field" placeholder="About" ng-model="vm.user.about" name="about" id="up-about" ng-minlength="50" required></textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="form-photo">
        <div class="form-photo-inner">
          <img ng-src="{{vm.getImageUrl()}}" alt="avatar">
          <div class="form-photo-info">
            <p>
              You can upload an avatar here or change it.
            </p>
            <hr>
            <a href="#" class="upload-btn" ng-click="vm.openFileDialog()">
              <i class="sidebar-ico icon-camera sidebar-ico-full"></i>
              <span>Choose file ...</span>
            </a>
            <input type="file" ngf-select="vm.onFileSelected()" ng-model="vm.file" name="file" accept="image/*" ngf-max-size="1MB" name="upload" id="up-photo">
          </div>
        </div>
      </div>
    </div>

    <div class="btn-col">
      <button type="submit" class="form-row-group__submit-btn btn-info">Update</button>
    </div>

  </form>
</div>
